<!DOCTYPE html>
<html lang="en">
		
		
			<!-- header -->
			<header id="header">
				
				<div class="header-center">
					<div class="header-top"></div>
					<!-- shell -->
					<div class="shell">
						<div class="header-inner">
							<!-- header-cnt -->
							<div class="header-cnt">
								<h1 id="logo"><a href="#">Simple</a></h1>		
								<p>	
								</p>

								
							</div>
							<!-- end of header-cnt -->
							
							<div class="cl">&nbsp;</div>
						</div>
					
				</div>
			</header>
			<!-- end of header -->
			
	</div>	
		
	
	

</html>